<div class="pop_up" id="pop_up">
    @switch (page_number) {
        @case (1) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
        @case (2) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
        @case (3) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
        @case (4) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
        @case (5) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
        @case (6) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
        @case (7) {
          <app-card [card_template]="tutorials[page_number - 1]"></app-card>
        }
    }
  </div>