.pop-up{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 100vw;
    background-color: rgba(14, 14, 14, 0.507);
    height: 100vh;
}

.center-div{
    flex-grow: 1;
}

.img-container{
    display: flex; 
    align-items: center; 
    flex-direction: column;
    gap: 10px;
    justify-content: center; 
    padding: 0.4em 0.2em;
}

.img-container img{
    width: 13em;
}

.subhead{
    font-size: 1.1em !important;
}

.btn-container{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0.4em 0.2em; 
    margin: 0.6em; 
    width: 100%;
}

.text-holder{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text-holder p{
    text-align: justify !important;
}
.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    padding: 0.5em 1.4em;
    min-width: 200px;
    max-width: 40%;
    max-height: 90%;
}

.card h1{
    text-align: center;
    margin: 0.5em 0px;
    font-size: 1.4em;
    color: rgb(12, 14, 34);
}
.card p{
    text-align: center;
    color: rgb(12, 14, 34);
    margin: 0.5em 0px;
    font-size: 0.8em;
}



.navbar{
    background-color: rgb(12, 14, 34);
    padding: .9em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.navbar h1{
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.sub-nav{
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.options{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin-right: 2px;
}

.options button{
    color: white;
    background-color: rgb(12, 14, 34);
    outline: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    margin-right: 1em;
}

.options button:hover,
.options button:focus{
    color: rgb(255, 153, 0);
}

.dropdown-algo{
    margin-left: 20px;
}



.dropdown-algo p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.dropdown-maze{
    margin-left: 2px;
}

.dropdown-maze p:hover,
.dropdown-maze p:focus{
    color: rgb(255, 153, 0);
}

.dropdown-algo p:hover,
.dropdown-algo p:focus{
    color: rgb(255, 153, 0);
}

.dropdown-maze p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    height: 100%;
    cursor: pointer;
}

.dropmenu-algo{
    display: none;
    position: absolute;
    background-color: rgb(12, 14, 34);
    list-style-type: none;
    top: 72px;
    padding: 5px 2px;
    border-radius: 4px;
}

.opt{
    cursor: pointer;
}

.material-symbols-outlined{
    transition: transform 0.4s linear;
    font-size: 1em;
    font-weight: 400;
}


.dropmenu-algo li,
.dropmenu-maze li{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: .7em .7em;
}

.dropmenu-maze{
    display: none;
    position: absolute;
    background-color: rgb(12, 14, 34);
    list-style-type: none;
    top: 72px;
    padding: 5px 2px;
    border-radius: 4px;
}

.btn{
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: 1em;
    padding: .6em .8em;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: transparent;
}

.btn:focus,
.btn:hover{
    background-color: rgb(167, 163, 158);
}

.displayAlgo{
    display: block !important;
}

.displayAlgo{
    display: block !important;

}

.displayMaze{
    display: block !important;
}

.rotate{
    transform: rotate(180deg);
    transition: transform 0.3s linear;
}




@media screen and (max-width: 733px) {
    .dropmenu-algo{
        top: 88px;
    }

    .dropmenu-maze{
        top: 88px;
    }
}

@media screen and (max-width: 695px) {
   .sub-nav{
    flex-wrap: wrap;
   }

   .options{
    margin-left: 0 !important;
   }

   .dropmenu-algo{
    top: 81px;
   }

  .dropmenu-maze{
    top: 81px;
   }
}



.secondary-nav{
    padding: 1.2em 1em;
    flex-wrap: wrap;
    display: flex;
    gap: 1em;
    justify-content: flex-start;
}

.secondary-nav div{
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.secondary-nav div p{
    font-size: 1rem;
}

.secondary-nav div span{
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    color: rgb(38, 37, 80);
}

.node-p{
    width: 1.2rem;
    height: 1.2rem;
}

.banner{
    font-size: 1.2rem;
    text-align: center;
    padding: .8em 0;
    color: rgb(1, 37, 53);
}

@media screen and (max-width: 866px) {
    .secondary-nav{
        gap: 5px;
    }
    .secondary-nav div p {
        font-size: .9rem;
    }
    .secondary-nav div span{
        font-size: 1rem !important;
    }
}

.grid{
    display: grid;
    font-size: 1rem !important;
    grid-template-columns: repeat(70, 1fr);
    grid-template-rows: repeat(28, 1fr);
    grid-gap: 1px; 
    border: 1px solid rgba(0, 110, 255, 0.418);
    background-color: rgba(0, 110, 255, 0.418);
    margin: 0px 2px;
}

.cut{
    color: rgb(207, 13, 13);
}

.dash{
    text-decoration: line-through;
}

.disable-div, .disable-button{
    pointer-events: none;
    cursor: default;
    color: rgb(168, 168, 168) !important;
}

.disable-div p {
    color: rgb(168, 168, 168) !important;
}

.disable-button {
    background-color: rgb(167, 163, 158);
    color: rgb(255, 255, 255) !important;
}

@media screen and (max-width: 1440px) {
    .dropmenu-algo{
        top: 62px;
    }

    .dropmenu-maze{
        top: 62px;
    }

    .grid{
        grid-template-columns: repeat(56, 1fr);
        grid-template-rows: repeat(32, 1fr);
    }
}

@media screen and (max-width: 1025px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .grid{
        grid-template-columns: repeat(35, 1fr);
        grid-template-rows: repeat(35, 1fr);
    }

    .dropdown-algo{
        margin-left: 0;
    }

    .dropmenu-algo{
        top: 95px;
    }

    .dropmenu-maze{
        top: 95px;
    }
}

@media screen and (max-width: 695px) {
    .sub-nav{
     flex-wrap: wrap;
    }
 
    .options{
     margin-left: 0 !important;
    }
 
    .dropmenu-algo{
     top: 81px;
    }
 
    .grid{
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(34, 1fr);
    }

   .dropmenu-maze{
     top: 81px;
    }
 }

 i{
    font-size: 1em;
    color: gray !important;
 }
 .copyright{
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: .5em;
    font-size: .8em;
    color: gray;
 }