.grid {
    display: grid;
    font-size: 1rem !important;
    grid-template-columns: repeat(70, 1fr);
    grid-template-rows: repeat(28, 1fr);
    
    border: 1px solid rgba(0, 132, 255, 0.233);
    background-color: rgba(255, 255, 255, 0.418);
    margin: 0px 2px;
}

i {
    font-size: 1em;
    color: gray !important;
}

.source_code {
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-left: .5em;
    font-size: .8em;
    
}

.source_code a {
    text-decoration: none;
    color: gray;
}
