.navbar {
    background-color: rgb(12, 14, 34);
    padding: .9em 1em;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.navbar h1 {
    color: white;
    font-size: 1.5em;
    font-weight: 600;
}

.item_holder {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin-right: 2px;
}

.item button {
    color: white;
    background-color: rgb(12, 14, 34);
    outline: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
    margin-right: 1em;
}

.item button:hover, .item button:focus {
    color: rgb(255, 153, 0);
}

.bttn {
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: 1em;
    padding: .6em .8em;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: transparent;
}

.bttn:focus, .bttn:hover {
    background-color: rgb(167, 163, 158);
}

.disable, .disable_button {
    pointer-events: none;
    cursor: default;
    color: rgb(168, 168, 168) !important;
}

.disable p {
    color: rgb(168, 168, 168) !important;
}

.disable_button {
    background-color: rgb(167, 163, 158);
    color: rgb(255, 255, 255) !important;
}

@media screen and (max-width: 695px) {
   .item_holder{
    flex-wrap: wrap;
   }

   .item{
    margin-left: 0 !important;
   }
}

@media screen and (max-width: 1025px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}

@media screen and (max-width: 695px) {
    .item_holder {
     flex-wrap: wrap;
    }
 
    .item {
     margin-left: 0 !important;
    }
}
