<div class="navbar">
    <h1>{{ title }}</h1>

    <div class="item_holder">
        <app-algo-dropdown></app-algo-dropdown>
        <app-maze-dropdown></app-maze-dropdown>

        <div class="item"  style="margin-left: 10px;">
            <button class="links" (click)="add_boom()" [disabled]="disable" [ngClass]="{'disable': disable}">{{boom_added? 'Remove Boom': 'Add Boom'}}</button>
        </div>
      
        <button class="bttn" (click)="visualize()" [disabled]="disable" [ngClass]="{'disable_button': disable}">Visualize!</button>
         
        <div class="item" style="margin-left: auto;">
            <button class="links" (click)="clear_wall()" [disabled]="disable" [ngClass]="{'disable': disable}">Clear Wall & Weights</button>
            <button class="links" (click)="clear_path()" [disabled]="disable" [ngClass]="{'disable': disable}">Clear Path</button>
            <button class="links" (click)="clear_board()" [disabled]="disable" [ngClass]="{'disable': disable}">Clear Board</button>
        </div>
    </div>
    
</div>


  