<div class="w-screen flex gap-4 p-4">
  <span class="flex items-center gap-1">
    <fa-icon class="text-sm pt-[.05em]" [icon]="'star-of-life'"/>
    <span class="font-medium">Source Node</span>
  </span>

  <span class="flex items-center gap-1">
    <fa-icon class="text-sm pt-[.05em]" [icon]="'flag-checkered'"/>
    <span class="font-medium">Target Node</span>
  </span>

  <span class="flex items-center gap-1">
    <fa-icon class="text-sm pt-[.05em]" [icon]="'weight-hanging'"/>
    <span class="font-medium">Weighted Node</span>
  </span>

  <span class="flex items-center gap-1">
    <fa-icon class="text-sm pt-[.05em]" [icon]="'location-crosshairs'"/>
    <span class="font-medium">Transfer Node</span>
  </span>

  <span class="flex items-center gap-1">
    <div class="w-4 h-4 border-[.1em] border-blue-300"></div>
    <span class="font-medium">Unvisited Node</span>
  </span>

  <span class="flex items-center gap-1">
    <div class="w-4 h-4 border-[.1em] border-gray-900 bg-gray-900"></div>
    <span class="font-medium">Wall Node</span>
  </span>

  <span class="flex items-center gap-1">
    <div class="w-4 h-4 border-[.1em] border-blue-300 bg-blue-300"></div>
    <div class="w-4 h-4 border-[.1em] border-purple-400 bg-purple-400"></div>
    <span class="font-medium">Visited Node</span>
  </span>

  <span class="flex items-center gap-1">
    <div class="w-4 h-4 border-[.1em] border-amber-300 bg-amber-300"></div>
    <span class="font-medium">Path Node</span>
  </span>
</div>
