/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@media screen and (max-width: 1440px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 733px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 695px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width:341px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width:311px) {
  html {
    font-size: 10px;
  }
}